<div class="row m-3">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">{{ book?.title }}</h2>

    <h6 class="text-center">{{ book?.subTitle }}</h6>

    <div class=" m-3">
      <img class="rounded center-block"
           *ngIf="book" [src]="book?.thumbnail">
    </div>


    <dl>
      <dt>Description</dt>
      <dd>
        <p [innerHtml]="book?.description"></p>
      </dd>

      <span *ngIf="book?.authors">
        <dt>Authors</dt>
        <dd *ngFor="let author of book.authors; let isLast = last;">{{ author }} <span *ngIf="!isLast">, </span></dd>
      </span>

      <dt>Categories</dt>
      <dd>
        <span class="mr-1 badge badge-pill badge-default"
              *ngFor="let category of book?.categories">
          {{ category }}
        </span>
      </dd>

      <dt>Published Date</dt>
      <dd>{{ book?.publishDate }}/dd>

      <dt>Publisher</dt>
      <dd>{{ book?.publisher }}</dd>
    </dl>

    <p>
      <button *ngIf="!hasBook(book)"
              type="button"
              class="btn btn-primary"
              (click)="addBook(book)">Add To Library
      </button>
      <button *ngIf="hasBook(book)"
              type="button"
              class="btn btn-default"
              [class.disabled]="!hasBook(book)"
              (click)="removeBook(book)">Remove From Library
      </button>
    </p>


  </div>
</div>
